body {
  margin: 0;
}
.box {
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 10px;
}

.box-1{
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation-fill-mode: forwards; let it stay where it is*/
}
@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.box-2{
  animation-name: shrink;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  /* going back and forth */
}

@keyframes shrink {
  0%{
    transform: scale(1);
    /* width: 100px; */
    /* height: 100px; */
  }
  50%{
    transform: scale(0.2);
    /* width: 10px; */
    /* height: 10px; */
  }
  100%{
    transform: scale(1);
    /* width: 100px; */
    /* height: 100px; */
  }
  /* from {
    width: 100px;
    height: 100px;
  }
  to{
    width: 10px;
    height: 10px;
  } */
}

.box-3{
  position: relative;
  animation-name: moveSpin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes moveSpin {
  0%{
    left: 0px;
    transform: rotate(0deg);
  }
  40%{
    left: 100px;
    transform: rotate(0deg);
  }
  60%{
    left: 100px;
    transform: rotate(360deg);
  }
  100%{
    left: 0px;
    transform: rotate(360deg);
  }

}
