body {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin: 2px;
  text-align: center;
  border-style:dashed;
  border-color: #E5784F;
  border-width: thick;
}
img {
  cursor: pointer;
}
