body{
    font-family: "Comic Sans MS";
}
.images {
  text-align: center;
  z-index: -1;
}
#bg {
  width: 100%;
  position: relative;

}
.hyperlinks {
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
}
.pa {
  width: 20%;
  transform: rotate(-10deg);
  top: 67%;
  left: 25%;
}
 .pb, .pc {
  width: 20%;
  transform: rotate(-20deg);
}
.m3, .m4, .m7 {
  width: 8%;
  transform: rotate(10deg);
}
.m1 ,.m2, .m5, .m6{
  width: 4%;
  transform: rotate(7deg);
}
#m1, #m2, #m3, #m4, #m5, #m6, #m7 {
  font-size: 4px;
}
.pc{
  position: absolute;
  top: 20%;
  left: 27%;
}
.pb{
  position: absolute;
  top: 34%;
  left: 14%;
}
.pa{
  position: absolute;
  top: 67%;
  left: 25%;
}
.m1{
  position: absolute;
  width: 3%;
  top: 22%;
  left: 50%;
}
.m2{
  position: absolute;
  top: 32%;
  left: 57%;
}
.m3{
  position: absolute;
  top: 19%;
  left: 58.5%;
  width: 8%;
}
.m4{
  position: absolute;
  top: 42%;
  left: 62%;
  width: 8%;

}
.m5{
  position: absolute;
  top: 24%;
  left: 68%;
}
.m6{
  position: absolute;
  top: 43%;
  left: 72%;
}
.m7{
  position: absolute;
  top: 33%;
  left: 76%;
}
#pc, #pa, #pb {
  font-size: 20px;
}

#lp-off, #lp-on{
  position: absolute;
  left: 37%;
  top: 47.5%;
  width: 15%;
}
#lp-on {
  visibility: hidden;
  top: 48%;
}
#audio {
  visibility: hidden;
}
