body{
    font-family: "Comic Sans MS";
}
.images {
  z-index: -1;
}
#bg {
  width: 100%;
  position: relative;

}
.project-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 15%;
}
.projects{
  width: 40%;
  text-align: center;
}
.mini-projects{
  width: 40%;
  text-align: center;
}
.pa {
  width: 20%;
  transform: rotate(-10deg);

}
 .pb, .pc {
  width: 20%;
  transform: rotate(-20deg);
}
.m3, .m4, .m7 {
  transform: rotate(10deg);
}
.m1 ,.m2, .m5, .m6{
  width: 4%;
  transform: rotate(7deg);
}
#pc, #pa, #pb {
  font-size: 20px;
}
#m1, #m2, #m3, #m4, #m5, #m6, #m7 {
  font-size: 4px;
}
.pc{
  position: relative;
  top: 21%;
  left: 65%;

}
.pb{
  position: relative;
  top: 40%;
  left: 33%;
}
.pa{
  position: relative;
  top: 95%;
  left: 60%;
}
.m1{
  position: relative;
  top: 12%;
  left: 24%;
}
.m2{
  position: relative;
  top: 16%;
  left: 40%;
}
.m3{
  position: relative;
  top: -30%;
  left: 2%;
}
.m4{
  position: relative;
  top: 13%;
  left: 10%;
}
.m5{
  position: relative;
  top: -33%;
  left: 68%;
}
.m6{
  position: relative;
  top: -10%;
  left: 78%;
}
.m7{
  position: relative;
  top: -50%;
  left: 47%;
}



#lp-off, #lp-on{
  position: absolute;
  left: 37%;
  top: 48.5%;
  width: 15%;
}
#lp-on {
  visibility: hidden;
  top: 49.1%;
}
#audio {
  visibility: hidden;
  position: absolute;
  top: 0;
}
